[submodule "bundle/align"]
	path = bundle/align
	url = https://github.com/vim-scripts/Align.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-twig"]
	path = bundle/vim-twig
	url = https://github.com/evidens/vim-twig.git
[submodule "bundle/phpsyntax"]
	path = bundle/phpsyntax
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/luishdez/vim-less.git
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "bundle/mru"]
	path = bundle/mru
	url = https://github.com/yegappan/mru.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/tmhedberg/matchit
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/VisIncr"]
	path = bundle/VisIncr
	url = https://github.com/vim-scripts/VisIncr.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/SimpylFold"]
	path = bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = http://github.com/vim-airline/vim-airline-themes
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-closetag"]
	path = bundle/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
