[submodule "bundle/align"]
	path = bundle/align
	url = https://github.com/vim-scripts/Align.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-twig"]
	path = bundle/vim-twig
	url = https://github.com/evidens/vim-twig.git
[submodule "bundle/phpsyntax"]
	path = bundle/phpsyntax
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "bundle/nerd_tree"]
	path = bundle/nerd_tree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/luishdez/vim-less.git
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "bundle/mru"]
	path = bundle/mru
	url = https://github.com/yegappan/mru.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/tmhedberg/matchit
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/VisIncr"]
	path = bundle/VisIncr
	url = https://github.com/vim-scripts/VisIncr.git
