[submodule "bundle/align"]
	path = bundle/align
	url = https://github.com/vim-scripts/Align.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-twig"]
	path = bundle/vim-twig
	url = https://github.com/lunaru/vim-twig.git
[submodule "bundle/phpsyntax"]
	path = bundle/phpsyntax
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "bundle/nerd_tree"]
	path = bundle/nerd_tree
	url = https://github.com/scrooloose/nerdtree.git
